.accordion {
}

.accordion__item {
}

.accordion__heading {
  color: #f7f7f7;
  background-color: $accent-dark;
  padding: 0.5rem;

  p {
    margin-bottom: 0;
  }
}

.accordion__button {
}

.accordion__panel {
  padding: 0.5rem;
  animation: fadein 0.3s ease-in-out;
}

.accordion {
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
