.accordion {
}

.accordion__item {
}

.accordion__heading {
  color: white;
  background-color: $accent;
  padding: 0.5rem;

  p {
    margin-bottom: 0;
  }
}

.accordion__button {
}

.accordion__panel {
  padding: 0.5rem;
}

.accordion {
}
