.author-container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;

  border-left: 4px solid $purple;

  .icon {
    margin-top: -$margins;
  }
}

.author-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 $margins;
  padding-top: 0px;

  img {
    max-height: 100px;
    width: auto;
    margin-bottom: $margins;
  }

  div {
    display: flex;
    margin-top: $margins;
    justify-content: center;
  }
}

.author-name {
  h6 {
    margin: 0;
  }
}

.author-description {
  padding: 0 $margins 0 0;
}
