.double-highlight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  border-left: 4px solid $accent;
}

.double-column-left,
.double-column-right {
  padding: 0 $margins;
}

.double-column-left {
}

.double-column-right {
}

.highlight-image-wrapper {
}

.highlight-desc-wrapper {
}
