.section {
  margin: 0;
}

.section__xl {
  margin: 10rem 0;
}

.section__lg {
  margin: 7.5rem 0;
}

.section__md {
  margin: 5rem 0;
}

.section__sm {
  margin: 2.5rem 0;
}

.section__xs {
  margin: 1rem 0;
}
