.split-content {
  .content-container {
    display: flex;
    align-items: center;
  }

  &.full-width {
    .content-container {
      padding: 0;
    }
  }

  .copy-wrapper {
    width: 100%;
    padding: 0;

    &.full-width-copy {
      padding: 6rem;
    }
  }

  .image-wrapper {
    width: 100%;
  }

  @media (max-width: 767px) {
    border: 2px solid green;
    .copy-wrapper {
      &.full-width-copy {
        padding: 0 1.5rem;
      }
    }
  }
}
