.split-content {
  width: 100%;

  .copy-trigger + .copy-trigger {
    .copy-wrapper {
      padding-left: 0 !important;
    }
  }

  .markdown-display {
    width: 100%;
  }

  .markdown-display {
    h1:only-child,
    h2:only-child,
    h3:only-child,
    h4:only-child,
    h5:only-child,
    h6:only-child {
      margin-bottom: 0;
    }
  }

  .content-container {
    display: flex;
    padding: 0;

    &.left {
      .copy-wrapper {
        padding-left: 0;
      }

      .contact-form {
      }
    }

    &.right {
      .copy-wrapper {
        padding-right: 0;
      }

      .contact-form {
      }
    }
  }

  &.align-center {
    align-items: center;
  }

  &.full-width {
    .content-container {
      padding: 0;
    }
  }

  .copy-wrapper {
    width: 100%;
    padding: 0;

    &.white-background {
      background: rgb(255, 255, 255, 0.75);
      color: $dark !important;
      padding: 1rem !important;
    }

    &.hero-copy {
      p:first-of-type {
      }

      /* h1:first-of-type,
      h2:first-of-type,
      h3:first-of-type {
        display: flex;
        align-items: center;
        font-size: 3rem;
        font-family: Dosis, sans-serif;
        font-weight: 800;
        margin-bottom: 0;

        + p {
          margin-bottom: 1.45rem;
        }

        &::after {
          content: "";
          flex: 1;
          margin-left: 1rem;
          height: 0.2rem;
          background-image: linear-gradient(
            rgba($dark, 1) 80%,
            rgba($dark, 1) 95%
          );
          border-top-right-radius: $border-radii;
          border-bottom-right-radius: $border-radii;
        }
      } */
    }

    &.solo-text {
      width: 100%;
    }

    @media (min-width: 767px) {
      &.hero-copy {
        max-width: 60%;
      }

      &.solo-text {
        width: 100%;
      }

      &.solo-text.solo-small {
        width: 65%;
      }

      &.solo-text.solo-medium {
        width: 80%;
      }
    }

    &.full-width-copy {
      padding: 6rem;
    }
  }

  .image-wrapper {
    width: 100%;
  }

  &.background-image {
    /* height: 60vh; */
    padding: 0 0;
  }

  @media (min-width: 767px) {
    .content-container {
      display: flex;
      padding: 0;

      &.left {
        .copy-wrapper {
          padding-left: 0rem;
        }
      }

      &.right {
        .copy-wrapper {
          padding-right: 0rem;
        }
      }
    }

    &.background-image {
      /* height: 95vh; */
      padding: 6rem 0;
    }
  }

  @media (max-width: 767px) {
    .copy-wrapper {
      &.full-width-copy {
        padding: 0 1.5rem;
      }
    }
  }
}

.module-bg-image-container .split-content {
}
