.split-content {
  .content-container {
    display: flex;

    &.left {
      .copy-wrapper {
        padding-left: 0.5rem;
      }
    }

    &.right {
      .copy-wrapper {
        padding-right: 0.5rem;
      }
    }
  }

  &.align-center {
    align-items: center;
  }

  &.full-width {
    .content-container {
      padding: 0;
    }
  }

  .copy-wrapper {
    width: 100%;
    padding: 0;

    &.solo-text {
      width: 100%;
    }

    @media (min-width: 767px) {
      &.solo-text {
        width: 75%;
      }
    }

    &.full-width-copy {
      padding: 6rem;
    }
  }

  .image-wrapper {
    width: 100%;
  }

  @media (max-width: 767px) {
    .copy-wrapper {
      &.full-width-copy {
        padding: 0 1.5rem;
      }
    }
  }
}
