.blog-title {
  margin-bottom: -12px;
}

.blog-date {
  display: block;
  margin-bottom: 1rem;
}

.blog-featured {
  margin-bottom: 0;
}

.blog-body {
  /* border-top: 4px solid $purple; */
  border-bottom: 4px solid $purple;
  padding-top: 0.5rem;
}

.blog-tags {
  margin-top: 0.5rem;
}

.blog-tag {
  margin: 0 0.5rem;
  padding: 0 2px;
  color: white;
  font-size: $base-font-size-small * 0.8;
  background-color: $purple;
  border: 2px solid $purple;
  border-radius: 1rem;

  &.tags-disabled {
    background-color: $dark;
    border: 2px solid $dark;
  }
}

.blog-tag:first-of-type {
  margin-left: 0;
}
