.blog-title {
  margin-bottom: -8px;
}

.blog-title + .excerpt {
  margin-top: 16px;
}

.blog-date {
  display: block;
  margin-bottom: 1rem;
}

.blog-image {
  margin-bottom: $margins;
}

.blog-image + .blog-image-caption {
  margin-top: -$margins;
  margin-bottom: 0;
  font-size: $base-font-size-small * 0.8;
}

.blog-paragraph {
  padding-bottom: 0;
  margin-bottom: 1rem;
  padding-top: 0;

  &:first-of-type {
    padding-top: 0;
  }

  p {
    margin: 0;
  }
}

.left-30,
.left-50,
.left-60 {
  margin-top: 0;
  margin-right: 1rem;
  margin-bottom: 0;
}

.right-30,
.right-50,
.right-60 {
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 0;
}

.left-30 {
  width: 30%;
  float: left;
}

.left-50 {
  width: 50%;
  float: left;
}

.left-60 {
  width: 60%;
  float: left;
}

.right-30 {
  width: 30%;
  float: right;
}

.right-50 {
  width: 50%;
  float: right;
}

.right-60 {
  width: 60%;
  float: right;
}

.center {
  float: none;
  clear: both;
}

.blog-body {
  /* border-top: 4px solid $accent; */
  /* border-bottom: 4px solid $accent; */
  /* border-left: 4px solid $accent; */
  padding-top: 0.5rem;
  li {
    p {
      margin-bottom: 0.5rem;
    }
  }

  li:last-of-type {
    p {
      margin-bottom: 0;
    }
  }
}

.blog-tags {
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
}

.blog-tag {
  margin: 0 0;
  margin-left: 0.5rem;
  padding: 0 0.3rem;
  padding-bottom: 0.1rem;
  color: #f7f7f7;
  font-size: $base-font-size-small * 0.8;
  background-color: $dark;
  border: 2px solid $dark;

  vertical-align: center;

  &:last-of-type {
    border-bottom-right-radius: 0.25rem;
  }

  &:first-of-type {
    border-bottom-left-radius: 0.25rem;
  }

  &.tags-disabled {
    background-color: $dark;
    border: 0px solid $dark;
  }
}

.blog-date + .blog-tags {
  margin-bottom: 1rem;
  margin-left: 1rem;
  position: relative;

  .blog-tag {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.blog-tag:first-of-type {
  margin-left: 0;
}

.blog-list-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 0.25rem;

  button {
    border: 0;
    padding: 0;
    background: transparent;
  }

  button:focus-visible,
  button:focus {
    outline: 0;

    .blog-tag {
      border: inset 2px $accent;
    }

    .selected-tag {
      .blog-tag {
        border: inset 2px $dark;
      }
    }
  }

  .blog-tag {
    margin: 0;
    border-radius: 0;
    font-weight: 600;
    font-size: $base-font-size-small;
  }

  .selected-tag {
    .blog-tag {
      border-color: $dark;
      background: #f7f7f7;
      color: $dark;
    }
  }

  .blog-list-tag-start {
    .blog-tag {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }

  .blog-list-tag-end {
    .blog-tag {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}

.post-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: $margins;

  .post-nav-wrapper {
    width: max(300px, 100px);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin: 0 1rem;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.post-excerpt-wrapper {
  padding: 0 $margins;
  margin-bottom: $margins;
  border-left: 4px solid $purple;
}

.post-featured-wrapper {
  /* width: min(90%, 800px); */
}

.blog-featured {
}

.masonry {
  columns: 3;
  gap: 1rem;
}

.masonry-item {
  margin-bottom: 1rem;
  width: 100%;
}

.blog-sidebar {
  max-width: 100%;
}

.blog-sidebar-posts {
  display: flex;
  flex-direction: column;
}

.blog-sidebar-posts > div {
  flex: 1;
}

.blog-post-container {
  gap: 2rem;
}

.blog-sidebar-container {
  padding-top: 0.5rem;
}

@media (min-width: $max-width-xs) {
  .blog-sidebar {
    padding: 1.5rem 2rem;
    background: $light;
  }

  .blog-sidebar-posts {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
  }

  .blog-sidebar-posts > div {
    max-width: 50%;
  }
}

@media (min-width: $max-width-md) {
  .blog-sidebar-container {
    min-width: 30%;
  }
  .blog-sidebar {
  }

  .blog-sidebar-posts {
    flex-direction: column;
  }

  .blog-sidebar-posts > div {
    max-width: 100%;
  }

  .blog-post-container {
    gap: 5rem;
  }
}
