.blog-title {
  margin-bottom: -8px;
}

.blog-title + .excerpt {
  margin-top: 16px;
}

.blog-date {
  display: block;
  margin-bottom: 1rem;
}

.blog-image {
  margin-bottom: $margins;
}

.blog-image + .blog-image-caption {
  margin-top: -$margins;
  font-size: $base-font-size-small * 0.8;
}

.blog-body {
  /* border-top: 4px solid $accent; */
  /* border-bottom: 4px solid $accent; */
  /* border-left: 4px solid $accent; */
  padding-top: 0.5rem;
  li {
    p {
      margin-bottom: 0.5rem;
    }
  }

  li:last-of-type {
    p {
      margin-bottom: 0;
    }
  }
}

.blog-tags {
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
}

.blog-tag {
  margin: 0 0;
  margin-left: 0.5rem;
  padding: 0 0.3rem;
  padding-bottom: 0.1rem;
  color: white;
  font-size: $base-font-size-small * 0.8;
  background-color: $dark;
  border: 2px solid $dark;

  vertical-align: center;

  &:last-of-type {
    border-bottom-right-radius: 0.25rem;
  }

  &:first-of-type {
    border-bottom-left-radius: 0.25rem;
  }

  &.tags-disabled {
    background-color: $dark;
    border: 0px solid $dark;
  }
}

.blog-date + .blog-tags {
  margin-bottom: 1rem;
  margin-left: 1rem;
  position: relative;

  .blog-tag {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.blog-tag:first-of-type {
  margin-left: 0;
}

.post-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: $margins;

  .post-nav-wrapper {
    width: max(300px, 100px);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin: 0 1rem;
    }
  }
}

.post-excerpt-wrapper {
  padding: 0 $margins;
  margin-bottom: $margins;
  border-left: 4px solid $purple;
}

.post-featured-wrapper {
  /* width: min(90%, 800px); */
}

.blog-featured {
}

.masonry {
  columns: 3;
  gap: 1rem;
}

.masonry-item {
  margin-bottom: 1rem;
  width: 100%;
}
