input {
  background-color: #f7f7f7 !important;
}

.accent-input:checked {
  background-color: $accent-dark;
  border-color: $accent-dark;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem $accent-dark-overlay;
}

.form-control:focus {
  border-color: $accent-dark;
  box-shadow: 0 0 0 0.25rem $accent-dark-overlay;
}
