header {
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }
  }
}

nav {
  font-size: $base-font-size * 1.4;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
  }
}

nav.desktop-nav {
  font-size: $base-font-size * 1.2;

  ul li {
    display: inline;
  }
}

.layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: clip;
  margin: 0;
  max-width: 100vw;
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  padding-top: 1rem;
  grid-area: content;
}

@media (max-width: $max-width-sm) {
  .layout-container {
  }

  .content {
    width: 100vw;
  }

  header {
    padding: 0;
    width: 100%;
  }

  .mobile-header {
    background-color: white;
    border-bottom: 1px solid $dark;
    padding: 0.8rem 1rem;
    -webkit-box-shadow: $shadow-standard;
    box-shadow: $shadow-standard;
  }
}

footer {
  background-color: $accent;

  a {
    color: white !important;
    font-size: smaller;

    &.icon {
      color: white;

      &:hover {
        .icon {
          color: white !important;
        }
      }
    }

    &:hover {
      color: white;

      &::before {
        background-color: white;
      }
    }

    &::before {
      background-color: white;
    }
  }

  &.menu {
    position: absolute;
    bottom: 0;

    a,
    a:visited,
    a:active {
      &:hover {
        &.icon {
          .icon {
            color: $dark;
          }
        }
      }
    }
  }
}

.hero {
  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  p {
    margin-bottom: 0;
  }
}

.hero-container {
  border-radius: 0.25rem;
  min-width: min(100%, 700px) !important;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

@media (max-width: $max-width-sm) {
  .hero-container {
    background-image: none !important;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.hero-image {
  position: absolute;
  height: 100vh;
  width: auto;
  object-fit: cover;
  left: 11%;
  z-index: -1;
}

.hero-text {
  margin-left: 0;
  max-width: 600px;

  h1 + p {
    margin-top: -$margins;
  }
}

.new-hero-container {
  .hero-headline {
    font-size: 3rem;
  }

  .hero-image-container-small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    img {
      object-fit: cover;
      border: 1px solid lightgray;
    }

    img.horizontal {
      height: 200px !important;
      width: auto !important;
    }

    img.vertical {
      height: 200px !important;
      width: auto !important;
    }

    @media (max-width: 767px) {
      img.horizontal {
        height: 150px !important;
        width: auto !important;
      }

      img.vertical {
        height: 150px !important;
        width: auto !important;
      }
    }

    @media (max-width: 394px) {
      img.horizontal {
        height: 100px !important;
        width: auto !important;
      }

      img.vertical {
        height: 100px !important;
        width: auto !important;
      }
    }
  }

  .hero-image-container {
    display: grid;
    position: relative;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    max-width: 100vw;
    width: 50%;

    img {
      object-fit: cover;
      border: 1px solid lightgray;
    }

    /*     img.horizontal {
      width: 300px;
      height: auto;
    }

    img.vertical {
      height: 250px;
      width: auto;
    } */

    .hero-image-wrapper {
      padding: 0.5rem;
    }

    .hero-image-wrapper:nth-of-type(1) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      grid-area: 1 / 1 / 2 / 2;
    }

    .hero-image-wrapper:nth-of-type(2) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      grid-area: 1 / 2 / 2 / 3;
    }

    .hero-image-wrapper:nth-of-type(3) {
      grid-area: 2 / 1 / 3 / 3;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

@media (min-width: $max-width-md) {
  img.horizontal {
    width: 200px;
    height: auto;
  }

  img.vertical {
    height: 167px;
    width: auto;
  }
}

@media (min-width: $max-width-lg) {
  img.horizontal {
    width: 225px;
    height: auto;
  }
  img.vertical {
    height: 188px;
    width: auto;
  }
}

.block--accent-background {
  background-color: $accent;
  color: white;

  .testimonial--left,
  .testimonial--right {
    border-color: white;
  }
}

.block--dark-background {
  background-color: $dark;
  color: white;
}

.block__heading {
  display: flex;
  align-items: center;

  /*   &::before {
    content: "";
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;

    background-image: url(/static/corner-img.svg);
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid pink;
  } */

  &::after {
    content: "";
    flex: 1;
    margin-left: 1rem;
    height: 0.2rem;
    background-image: linear-gradient(rgba($dark, 1) 80%, rgba($dark, 1) 95%);
    border-top-right-radius: $border-radii;
    border-bottom-right-radius: $border-radii;
  }

  &.on-black {
    &::after {
      background-image: linear-gradient(
        rgba($light, 1) 80%,
        rgba(white, 1) 95%
      );
    }
  }
}

div.ending {
  width: 100%;
  height: 0.2rem;
  background-image: linear-gradient(rgba($dark, 1) 80%, rgba($dark, 1) 95%);
  border-top-right-radius: $border-radii;
  border-bottom-right-radius: $border-radii;
  margin-bottom: 1.5rem;
}

div.medium {
  clear: both;
  width: 100%;
  height: 0.1rem;
  background-image: linear-gradient(rgba(#ccc, 1) 80%, rgba(#ccc, 1) 95%);
  border-top-right-radius: $border-radii;
  border-bottom-right-radius: $border-radii;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.client-gallery {
  .client-gallery--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .client-gallery--container .item {
    aspect-ratio: 1/1;
    margin-bottom: 0rem;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px dotted lightgray;
    position: relative;
  }

  .client-gallery--container .inner-item {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .client-gallery--container .item img {
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 5px 10px -8px $dark;
    transition: transform 250ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .client-gallery--container .item .horizontal {
    width: 100%;
    height: auto;
  }

  .client-gallery--container .item .vertical {
    width: auto;
    height: 100%;
  }
}

.contact-form {
  padding: 1rem;
  width: 100%;
}
