header {
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }
  }
}

nav {
  font-size: $base-font-size * 1.4;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
  }
}

nav.desktop-nav {
  font-size: $base-font-size * 1.2;

  ul li {
    display: inline;
  }
}

.layout-container {
  display: grid;
  grid-template-columns: minmax(256px, 1fr) 1fr 22fr;
  grid-template-rows: auto;
  grid-template-areas: "sidebar . content content content content content content content content content content content content content content content content content content content content content content ";
  position: relative;
  overflow-x: clip;
  margin: 0;
  max-width: 100vw;
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  padding-top: 1rem;
  grid-area: content;
}

@media (max-width: $max-width-sm) {
  .layout-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content";
  }

  .content {
    width: 100vw;
  }

  header {
    padding: 0;
    width: 100%;
  }

  .mobile-header {
    background-color: white;
    border-bottom: 1px solid $dark;
    padding: 0.8rem 1rem;
    -webkit-box-shadow: $shadow-standard;
    box-shadow: $shadow-standard;
  }
}

footer {
  background-color: $accent;

  a {
    color: white !important;
    font-size: smaller;

    & .icon {
      color: $dark;
    }

    &:hover {
      color: white;

      &::before {
        background-color: white;
      }
    }

    &::before {
      background-color: white;
    }
  }

  &.menu {
    position: absolute;
    bottom: 0;

    a,
    a:visited,
    a:active {
      &:hover {
        &.icon {
          .icon {
            color: white;
          }
        }
      }
    }
  }
}

.hero {
  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  p {
    margin-bottom: 0;
  }
}

.hero-container {
  border-radius: 0.25rem;
  min-width: min(100%, 700px) !important;

  z-index: 1;
}

@media (max-width: $max-width-sm) {
  .hero-container {
    background-image: none !important;
    background-color: rgba(0, 0, 0, 1);
  }
}

.hero-image {
  position: absolute;
  height: 100vh;
  width: auto;
  object-fit: cover;
  left: 11%;
  z-index: -1;
}

.hero-text {
  margin-left: 0;
  max-width: 600px;

  h1 + p {
    margin-top: -$margins;
  }
}

@media (max-width: $max-width-xs) {
  .hero-text {
    /* max-width: 100%; */
  }
}

.block--accent-background {
  background-color: $accent;
  color: white;

  .testimonial--left,
  .testimonial--right {
    border-color: white;
  }
}

.block--dark-background {
  background-color: $dark;
  color: white;
}

.block__heading {
  display: flex;
  align-items: center;

  /*   &::before {
    content: "";
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;

    background-image: url(/static/corner-img.svg);
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid pink;
  } */

  &::after {
    content: "";
    flex: 1;
    margin-left: 1rem;
    height: 0.2rem;
    background-image: linear-gradient(rgba($dark, 1) 80%, rgba($dark, 1) 95%);
    border-top-right-radius: $border-radii;
    border-bottom-right-radius: $border-radii;
  }
}

div.ending {
  width: 100%;
  height: 0.2rem;
  background-image: linear-gradient(rgba($dark, 1) 80%, rgba($dark, 1) 95%);
  border-top-right-radius: $border-radii;
  border-bottom-right-radius: $border-radii;
  margin-bottom: 1.5rem;
}

div.medium {
  width: 100%;
  height: 0.1rem;
  background-image: linear-gradient(rgba(#ccc, 1) 80%, rgba(#ccc, 1) 95%);
  border-top-right-radius: $border-radii;
  border-bottom-right-radius: $border-radii;
  margin-bottom: 1.5rem;
}

.client-gallery {
  .client-gallery--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .client-gallery--container .item {
    aspect-ratio: 1/1;
    margin-bottom: 0rem;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px dotted lightgray;
  }

  .client-gallery--container .inner-item {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .client-gallery--container .item img {
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 5px 10px -8px $dark;
    transition: transform 250ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .client-gallery--container .item .horizontal {
    width: 100%;
    height: auto;
  }

  .client-gallery--container .item .vertical {
    width: auto;
    height: 100%;
  }
}
