header {
  .logo-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}

nav {
  font-size: $base-font-size * 1.4;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
  }
}

.layout-container {
  display: grid;
  grid-template-columns: minmax(256px, 1fr) 1fr 22fr;
  grid-template-rows: auto;
  grid-template-areas: "sidebar . content content content content content content content content content content content content content content content content content content content content content content ";
}

.sidebar {
  grid-area: sidebar;
}

.content {
  border: 2px solid green;
  padding-top: 1rem;
  grid-area: content;
}

@media (max-width: 767.98px) {
  .layout-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content";
  }

  .content {
    width: 100vw;
  }

  header {
    padding: 0 0.5rem;
  }

  .mobile-header {
    background-color: white;
    border-bottom: 2px solid $dark;
  }
}
