// COLORS

$purple: #663cf0;
$accent: #663cf0;
$dark: #1f1f1f;
$light: #f6f3ff;

$purple-overlay: rgba(102, 60, 240, 0.5);
$purple-darker: #5030b9;

$accent-overlay: rgba(102, 60, 240, 0.5);
$accent-darker: #5030b9;

$dark-faded: rgba(31, 31, 31, 0.1);
$dark-lighter: #505050;

// TYPOGRAPHY

$font-family-header: "Bebas Neue", serif;
$font-family-text: "Dosis", sans-serif;
$base-font-size: 17px;
$base-font-size-small: 16px;
$base-font-weight: 600;

// SPACINGS

$margins: 1.45rem;
$btn-padding: 2px 6px;

// ANIMATIONS

$anim-duration: 250ms;

// SHADOWS

$shadow-standard: 0px 4px 15px -10px $dark;
$shadow-large: 0px 4px 25px -10px $dark;

// FEATURES

$border-radii: 20px;

// BREAKPOINTS

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$max-width-xs: $sm - 0.02px;
$max-width-sm: $md - 0.02px;
$max-width-md: $lg - 0.02px;
$max-width-lg: $xl - 0.02px;
$max-width-xl: $xxl - 0.02px;
