// COLORS

$purple: #663cf0;
$dark: #1f1f1f;
$light: #f6f3ff;

// TYPOGRAPHY

$font-family-header: "Bebas Neue", cursive;
$font-family-text: "Dosis", sans-serif;
$base-font-size: 17px;
$base-font-size-small: 16px;
$base-font-weight: 600;

// SPACINGS

$margins: 1.45rem;
$btn-padding: 2px 6px;

// ANIMATIONS

$anim-duration: 250ms;
